table{
    background-color: rgb(243, 243, 191);
    color: rgb(215, 188, 240);
}

body { 
    background-color: rgb(243, 206, 160);
    color: rgb(56, 187, 67);

}
h1{ 
    color: rgb(23, 80, 61);
}
a{
    color: rgb(15, 14, 13);
}
li{
    color: rgb(203, 155, 248);
}
