<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>first template file</title>
</head>
<body>
    <h1>my first template</h1>
    <ul>
        {% for x in user %}
        <li>{{x.name}}{{x.age}}</li>
        {% endfor %}
    </ul>
    <P>
        this is our practice file created in Django template.
        this is our practice file created in Django template.
        this is our practice file created in Django template.
        this is our practice file created in Django template.
    </P>
</body>
</html>